*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003C43;
}
.heading
{
    color: #FBF8DD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-div
{
    max-width: 600px;
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.button
{
    width: 20%;
    height: 100px;
    margin: 8px;
    border-radius: 5px;
    background-color: #E3FEF7;
    font-size: 22px;
    color: black;
}